
.title_two--newbuild {
    margin: 0;
}

ul.build.list {
    list-style: none;
    width: 100%;

    li {
        position: relative;
        @include padding(20px null 20px null);

        .stats {
            float: right;

            .fa {
                margin: 0 2px;
            }

            .fa-warning {
                color: $flat-pomegranate;
            }

            .fa-leaf {
                color: $flat-emerald;
            }
        }

        h3.name {
            font-size: 20px;
        }

        p.description {
            color: #555;
            font-size: 14px;
            margin-top: 10px;
            max-width: 500px;
        }
    }
}

