.panel {
	@include outer-container;
	background-color: white;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

ul.build.list {
	list-style: none;
	width: 100%;

	li {
		position: relative;
		@include padding(20px null 20px null);

		.stats {
			position: absolute;
			right: 0;
			top: 5px;
			font-size: 14px;
			font-weight: bold;
			color: $muted-text;
		}

		h3.name {
			font-size: 20px;
		}

		p.description {
			color: #555;	
			font-size: 14px;
			margin-top: 10px;
			max-width: 500px;
		}
		
		
	}
}

