/** Application Variables **/

$small-font: 80%;

$base-color: #ccc;
$base-accent-color: #ddd;
$footer-color: #fff;
$footer-height: 4em;

$dark-gray: #333333;
$muted-text: #999;

$large-screen: em(1024);
