
    <ul class="build list">
        <li>
            <div class="stats">
                </i><i class="fa fa-check"></i> 100 <i class="fa fa-times"></i> 20
            </div>
            <h3 class="name"><a href="#">Acme Development</a></h3>
            <p class="description">This is the acme development site.</p>
        </li>
        <li>
            <div class="stats"><i class="fa fa-check"></i> 100 <i class="fa fa-times"></i> 20</div>
            <h3 class="name"><a href="#">Acme Production</a></h3>
            <p class="description">This is the acme production site.</p>
        </li>
        
    </ul>
</div>
