<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>goci - Continuous Integration</title>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
    <div class="landing container">
        <div class="landing login-form">
            <h1 class="title">goci</h1>
            <h4 class="subtitle">keep building</h4>
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="username" />
                <input type="password" name="password" placeholder="password" />
                <a class="forgot-password" href="/password/forgot">Forgot My Password</a>
                <button class="submit-login" type="submit">login</button>
            </form>
        </div>
    </div>
</body>
</html>
